html {
     font-size: 20px;
     background-color: black;
     color:wheat;
}


h1 {
     color:salmon;

}
h2 {
     color:cornflowerblue;
}
p1 {
     color:cornflowerblue;
}
p2 {
     color:aquamarine;
}
p3 {
     color:blueviolet;
}
p4 {
     color:coral;
}
p5 {
     color:mediumpurple;
}
p6 {
     color:darkcyan;
}
p7 {
     color:darkturquoise;
}

a {
     color:color-mix(in srgb-linear, color percentage, color percentage)
}
img {
     color:cadetblue;
     align-items:flex-start;
}
p0 {
     color:darkcyan;
}
p00 {
     color:skyblue;
}
&hearts {
     color:red;
}
mark {
     color:blue;
}
table,tr,th,td,caption {
     border:2px solid #eee;
     font-family: 'Courier New', Courier, monospace;
     border-collapse:collapse;
     padding:1.1rem;
     color:aquamarine;
}


table,tr,th,td,caption {
     border:2px solid #eee;
     font-family: 'Courier New', Courier, monospace;
     border-collapse:collapse;
     padding:1.1rem;
     color:aquamarine;
}

logo {
     width:80px;
     height:auto;


}

button {
     border:1px;
     border-color: #eee;
     border-collapse: collapse;
     padding:0.1rem;
     border: radius 3px;
     
     position:relative;
     left: 10px;
     bottom: 1px;
     background-color: gray;
   

}

p1,p2,p3,p4,p5,p6,p7,h1,h2 {
     font-family: Georgia, 'Times New Roman', Times, serif;
}